@page "/ordersuccess"
<h3>OrderSuccess</h3>

<ul>
    <li><span class="step-number">1</span>Choose item</li>
    <li><span class="step-number">2</span>Submit</li>
    <li><span class="step-number">3</span>Receipt</li>
</ul>
<h1> Order confirmation</h1>








@code {
    
}